<!doctype html>
<html lang="en">
  <head>
    <title>Complex Marker Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYHtxBgcRBh1ZPuGe4MigNQax30a5b6OM&callback=initMap&libraries=&v=weekly"
      defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <style type="text/css">
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .navbar {
        padding: 18px;
        background-color: #25283D;
      }

      .navbar-dark .navbar-nav .nav-link:hover {
        color: #717EC3
      }

      .navbar-dark .navbar-nav .nav-link {
        color: white;
        font-weight: bold;
      }

      .nav-active {
        color: white;
        text-decoration: none;
      }

      .nav-active:hover {
        color: #25283D;
        text-decoration: none;
      }
    </style>
    <script>
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a class="navbar-brand" href="#" style="font-weight: bold; font-size:large;"><span style="color:#717EC3">
          Covid-19
        </span>Vaccine Map </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item   nav-link " href="/" style="margin: auto;"> Map</a>

          <a class="nav-item   nav-link " href="Registeration" style="margin: auto;">Search& Registeraton </a>
          <a class="nav-active"
            style="font-weight: bold;padding:10px 30px;background-color:#717EC3;border-radius: 15px;text-align: center;color:white">Covid
            Info</a>
        </div>
      </div>
    </nav>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin-top: 25px;">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Covid Info
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" >
            <div class="card-body">
              People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe
              illness. Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have
              COVID-19:

              Fever or chills
              Cough
              Shortness of breath or difficulty breathing
              Fatigue
              Muscle or body aches
              Headache
              New loss of taste or smell
              Sore throat
              Congestion or runny nose
              Nausea or vomiting
              Diarrhea
              This list does not include all possible symptoms.
            </div>
          </div>
        </div>
      </div>

  </body>

</html>